#projetos {
    background-color: transparent;
}

.projetos {
    padding-top: 90px;
}

.projetos h2, .projetos a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 70px;
    color: var(--amarelo-fonte);
    font-size: 40px;
    font-weight: 900;
}

.projetos a {
    display: inline;
}

.pro {
    background-size: cover;
    background-repeat: no-repeat;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.2s;
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--amarelo-fonte);
}

.pro:hover {
    letter-spacing: 5px;
}

.pro div {
    background-color: #000000ae;
    width: 1000px;
    text-align: center;
    padding: 15px 0;
    transform: rotate(-50deg);
}


.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}

@media (max-width:1200px) {
  .projetos{
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  #projetos {
      display: flex;
      justify-content: center;
  }

  .projetos-itens {
      flex-direction: column;
  }

}
@media (max-width:950px) {
    .pro {
        max-width: 300px;
    }

}